@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn-color: #4c6fff;
  --heading-color: #2d3958;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/* body {
  font-family: "Space Grotesk", sans-serif;
} */
/* navbar */
body {
  font-family: "Inter", sans-serif;
}

.navbar {
  padding: 16px 0px;
  align-items: center;
}
.navbar-nav {
  align-items: center;
}
.nav-link {
  font-family: "Space Grotesk", sans-serif !important;
  font-size: 15px;
  margin-right: 40px;
  font-weight: 500;
  color: #7b88a8;
}
.nav-link:hover {
  color: #4c6fff;
}
.navbar-brand {
  margin-left: 150px;
}
.nav-btn {
  display: inline-block;
  line-height: 1;
  background-color: var(--btn-color);
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 6px;
  color: #fff;
  fill: #fff;
  text-align: center;
  transition: all 0.5s;
}
.nav-btn:hover {
  color: #fff;
  background-color: var(--heading-color);
}
.heading{
  background: linear-gradient(272.54deg, #ffabe6 12.86%, #857fff 68.06%);
  background-clip: inherit;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    margin-left: 0px;
  }
  .nav-link {
    text-align: left;
  }
  .navbar-nav {
    align-items: baseline;
  }
}

/* navbar */
.slider {
  background-color: #f8fafc;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #7b88a8;
}
.slider-h h1 {
  color: #2d3958;
  font-size: 56px;
  font-weight: bold;
}
.slider-desc p .home {
  color: #4c6fff;
}
.slider-desc p i {
  color: #7b88a8;
}
@media screen and (max-width: 767px) {
  .slider-h h1 {
    color: #2d3958;
    font-weight: bold;
    font-size: 40px;
  }
}
/* slider */
.register-form {
  margin: 100px 0;
}
.register-form-col {
  transition: 0.3s;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 20px 40px 0 rgba(76.00000000000001, 111, 255, 0.15);
  padding-top: 40px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 35px;
}

.register-form-col .register-input {
  background-color: #faf8fc;
  color: #7b88a8;
  border: 1px solid #e7eae5;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  margin-bottom: 20px;
}
.register-form-col .register-input::placeholder {
  color: #7b88a8;
  font-size: 14px;
}
.register-btn {
  background: #4c6fff;
  font-weight: 500;
  padding: 14px 40px;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
}
.register-btn:hover {
  background-color: #321370;
}
@media (max-width: 767px) {
  .register-form h2 {
    font-size: 26.5px;
  }
}

/* footer */
footer {
  padding: 100px 0px;
  background-color: #f8fafc;
}
.footer-row {
  gap: 110px;
}
.footer-col p {
  color: #7b88a8;
  font-size: 15px;
  margin-top: 20px;
}
.footer-col h5 {
  color: #2d3958;
  font-size: 15px;
  font-weight: 600;
}

.footer-col ul {
  list-style-type: none;
  margin-left: -30px;
}
.footer-col ul li {
  color: #7b88a8;
  margin-top: 14px;
  text-align: start;
  cursor: pointer;
  font-size: 14px;
  transition: 0.5s ease;
}
.footer-col ul li:hover {
  color: #0000ff;
}
.copy-col {
  margin-top: 10px;
  font-size: 14px;
  color: #7b88a8;
}
.copy-col i {
  margin-right: 8px;
  font-size: 18px;
  color: #7b88a8;
  transition: 0.6s;
  cursor: pointer;
}
.copy-col i:nth-child(odd):hover {
  color: #0000ff;
}

.copy-col i:nth-child(even):hover {
  color: #ffabe6;
}

@media screen and (max-width: 767px) {
  .copy-col {
    padding: 0;
  }
}
